#Game{
    width:100vw;
    height:100vh;
    gap: 5rem;

    .element-start{
        position: absolute;
        margin-top:-110px;
        width:15rem;
        height:6rem;
        pointer-events: none;
    }

    .drag{
        position: absolute;
        min-width: fit-content;
        width: 2rem;
        height: 2rem;
        background-color: white;
        touch-action: none;
        z-index: 2;
    }

    .drop-zone-area{
        display: flex;
        gap:1rem;
        justify-content: center;
        align-items: center;
    }

    .drop-zone{
        display: flex;
        width: 3rem;
        height: 3rem;
        background-color: rgb(255, 155, 155);
        border-radius: 2rem;
    }

    .output{
        display: flex;
        width: 3rem;
        height: 3rem;
        background-color: rgb(239, 255, 95);
        border-radius: 1rem;
    }

    .combination-station{
        display: flex;
        flex-direction: column;
        gap:1rem;
    }

    .combine-button:disabled{
        opacity: 0.5;
        cursor: not-allowed;
    }

    .combination-equation{
        display: flex;
        width: fit-content;
        height: fit-content;
        gap:1rem;
    }

    .combine-button{
        display: flex;
        justify-content: center;
        width:60%;
    }

    .fight-button{
        display: flex;
        justify-content: center;
        background-color: rgb(255, 80, 80);
        color:white;
        border: 1px solid black;
        transition: border 0.25s;
    }

    .fight-button:hover{
        border: 1px solid white;
    }
}